@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* shared style */

*{
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.container{

  width: 1600px;
  margin: 0px auto;
  
}

.btn-primary{
color:#FFFFFF ;
font-size: 1rem;
font-weight: 600;
border: none;
padding: 12px 16px 12px 16px;
border-radius: 10000px;
background:linear-gradient(47.64deg, 
rgba(247, 233, 63, 1),
rgba(251, 9, 180, 1),
rgba(145, 0, 248, 1));
}

.btn-secondary{
padding: 12px 20px 12px 20px;
border: 1px solid var(--#00FF88, rgba(0, 255, 136, 1));
border-radius: 10000px;
}

/* navbar style  */
header{
  background-color: rgba(26, 11, 46, 1);
}
.nav{
   border-bottom: 1px solid rgba(65, 37, 103, 1);

}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
 
  
}

.nav-logo h1{
color: rgba(255, 255, 255, 1);
font-size: 60px;
font-weight: 800;

}
.Wave{
/* background: linear-gradient(
  135deg,
  #F7E93F,
  #FB09B4,
  #9100F8
); */
  color: rgba(251, 9, 180, 1);
  /* background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.nav-menu li {
  list-style: none;
  display: inline;
  margin-right: 1.20rem;
  color:  rgba(255, 255, 255, 1);
font-size: 1rem;
text-align: left;


}

/*======= banner-section====== */

/* Banner Section */
.banner-section{
  min-height: 100vh;
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}


.banner-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}

.podcast-circle{
  position: relative;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 8px solid rgba(42, 24, 108, 1);
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}


.circle-icon img{
  width: 200px;
  height: auto;
}


.badge-new{
  position: absolute;
  top: 30px;
  right: 20px;
  background: #2cff8f;
  color: #000;
  font-size: 1.18rem;
  font-weight: 600;
  padding: 0.50rem 1rem;
  border-radius: 999px;
}

.banner-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.banner-title{
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
}

.banner-description{
  max-width: 520px;
  font-size: 0.95rem;
  color: rgba(255, 255, 255, 0.7);
}


.banner-actions{
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}



.btn-secondary{
  padding: 12px 20px;
  border-radius: 999px;
  background: transparent;
  color: #2cff8f;
  border: 1px solid #2cff8f;
}





     /* Responsive styles */
@media screen and (max-width: 576px) {


}